*
{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body
{

	font-family: cursive;
	font-size: 14px;
}
h1
{
	font-weight: 800;
	font-size: 3em;
	text-align: center;
	padding: 30px;
	margin-bottom: 30px;

}
.new
{
	width: 100%;
	position: relative;
    padding-right: 50px;

}
section
{
	position: relative;
	background-color: lightgrey;
	margin:10px  10px  ;
	left:0;
    
}
h2
{
	position: absolute;
	top:0;
	right: 0;
    margin: 0px;
	border: 1px solid black;
	font-weight: 600;
	text-align: center;
	padding:3px 30px;
	font-size: 1.5em;
	width: 45%;
}
p
{

	border: 1px solid black;
	padding: 45px 15px 10px 15px;
	height: 180px;
	overflow: hidden;
	font-weight: 400;
    


}
#chicken h2
{
	background-color:pink;
}
#beef h2
{
	background-color:orange;
	
}
#sushi h2
{
	background-color:orangered;
}

@media (min-width: 992px) {
	
  .col-lg-4 
  {
    width: 33.33%;
    float: left;

  }
  

}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12
	{
		float:left;
	}
	.col-md-6
	{
		width: 50%;

	}
	.col-md-12
	{
		width: 100%;
		
	}

}

@media (max-width: 767px) {
	.col-sm-12
	{
		float: left;
		width: 100%;
	}

}